Interfases/src/caf/war/Interfases/wsclient/sfcmpc/services/procesatablas_wsd/procesaTablas_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="procesaTablas_WSD" targetNamespace="http://localhost.localdomain/sFCMPC.services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost.localdomain/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost.localdomain/sFCMPC.services" xmlns:tns="http://localhost.localdomain/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="procesaTablas" type="tns:procesaTablas"/>
          <xsd:element name="procesaTablasResponse" type="tns:procesaTablasResponse"/>
          <xsd:complexType name="procesaTablas">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="especificos" nillable="true" type="tns:especificos"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="estrategia" nillable="true" type="tns:estrategia"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="especificos">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="kpi" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="mv" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="riesgo" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="estrategia">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="nombreEstrategia" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="tipoActividad" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="tipoParticipante" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="contenidos" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="categoria" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="area" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="cantidadHoras" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="periodo" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="cicloActividad" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="procesaTablasResponse">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="especificos" nillable="true" type="tns:especificos2"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="estrategia" nillable="true" type="tns:estrategia2"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="especificos2">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="kpi" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="mv" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="riesgo" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="estrategia2">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="nombreEstrategia" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="tipoActividad" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="tipoParticipante" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="contenidos" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="categoria" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="area" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="cantidadHoras" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="periodo" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="cicloActividad" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="procesaTablas_WSD_PortType_procesaTablasResponse">
    <wsdl:part name="parameters" element="tns:procesaTablasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="procesaTablas_WSD_PortType_procesaTablas">
    <wsdl:part name="parameters" element="tns:procesaTablas">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="procesaTablas_WSD_PortType">
    <wsdl:operation name="procesaTablas">
      <wsdl:input message="tns:procesaTablas_WSD_PortType_procesaTablas">
    </wsdl:input>
      <wsdl:output message="tns:procesaTablas_WSD_PortType_procesaTablasResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sFCMPC_services_procesaTablas_WSD_Binder" type="tns:procesaTablas_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="procesaTablas">
      <soap:operation soapAction="sFCMPC_services_procesaTablas_WSD_Binder_procesaTablas" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sFCMPC.services.procesaTablas_WSD">
    <wsdl:port name="sFCMPC_services_procesaTablas_WSD_Port" binding="tns:sFCMPC_services_procesaTablas_WSD_Binder">
      <soap:address location="http://localhost.localdomain:5555/ws/sFCMPC.services.procesaTablas_WSD/sFCMPC_services_procesaTablas_WSD_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
