Interfases/src/caf/war/Interfases/wsclient/sfcmpc/services/publicaproyecto_wsd/publicaProyecto_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="publicaProyecto_WSD" targetNamespace="http://192.168.255.138/sFCMPC.services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://192.168.255.138/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.255.138/sFCMPC.services" xmlns:tns="http://192.168.255.138/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="publicaProyecto" type="tns:publicaProyecto"/>
          <xsd:element name="publicaProyectoResponse" type="tns:publicaProyectoResponse"/>
          <xsd:complexType name="publicaProyecto">
            <xsd:sequence>
              <xsd:element name="proyecto" nillable="true" type="tns:proyecto"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="proyecto">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="nombrePro" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="fechaIniProy" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="fechaFinProy" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="componentes" nillable="true" type="tns:componentes"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="componentes">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="escuela" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="asesor" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="nivel" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="docDireSost" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="publicaProyectoResponse">
            <xsd:sequence>
              <xsd:element name="Resultado" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="publicaProyecto_WSD_PortType_publicaProyectoResponse">
    <wsdl:part name="parameters" element="tns:publicaProyectoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="publicaProyecto_WSD_PortType_publicaProyecto">
    <wsdl:part name="parameters" element="tns:publicaProyecto">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="publicaProyecto_WSD_PortType">
    <wsdl:operation name="publicaProyecto">
      <wsdl:input message="tns:publicaProyecto_WSD_PortType_publicaProyecto">
    </wsdl:input>
      <wsdl:output message="tns:publicaProyecto_WSD_PortType_publicaProyectoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sFCMPC_services_publicaProyecto_WSD_Binder" type="tns:publicaProyecto_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="publicaProyecto">
      <soap:operation soapAction="sFCMPC_services_publicaProyecto_WSD_Binder_publicaProyecto" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sFCMPC.services.publicaProyecto_WSD">
    <wsdl:port name="sFCMPC_services_publicaProyecto_WSD_Port" binding="tns:sFCMPC_services_publicaProyecto_WSD_Binder">
      <soap:address location="http://192.168.255.138:5555/ws/sFCMPC.services.publicaProyecto_WSD/sFCMPC_services_publicaProyecto_WSD_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
