Interfases/src/caf/war/Interfases/wsclient/sfcmpc/services/inserttablaestrategia_wsd/insertTablaEstrategia_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="insertTablaEstrategia_WSD" targetNamespace="http://localhost.localdomain/sFCMPC.services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost.localdomain/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost.localdomain/sFCMPC.services" xmlns:tns="http://localhost.localdomain/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="insertTablaEstrategia" type="tns:insertTablaEstrategia"/>
          <xsd:element name="insertTablaEstrategiaResponse" type="tns:insertTablaEstrategiaResponse"/>
          <xsd:complexType name="insertTablaEstrategia">
            <xsd:sequence>
              <xsd:element name="entrada" nillable="true" type="tns:entrada"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="entrada">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="estrategia" nillable="true" type="tns:estrategia"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="estrategia">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="tipoActividad" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="nombreActividad" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="categoria" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="tipoParticipante" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="area" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="nivel" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="contenidos" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="insertTablaEstrategiaResponse">
            <xsd:sequence>
              <xsd:element name="salida" nillable="true" type="tns:salida"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="salida">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="estrategia" nillable="true" type="tns:estrategia2"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="estrategia2">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="tipoActividad" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="nombreActividad" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="categoria" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="tipoParticipante" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="area" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="nivel" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="contenidos" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="insertTablaEstrategia_WSD_PortType_insertTablaEstrategia">
    <wsdl:part name="parameters" element="tns:insertTablaEstrategia">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertTablaEstrategia_WSD_PortType_insertTablaEstrategiaResponse">
    <wsdl:part name="parameters" element="tns:insertTablaEstrategiaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="insertTablaEstrategia_WSD_PortType">
    <wsdl:operation name="insertTablaEstrategia">
      <wsdl:input message="tns:insertTablaEstrategia_WSD_PortType_insertTablaEstrategia">
    </wsdl:input>
      <wsdl:output message="tns:insertTablaEstrategia_WSD_PortType_insertTablaEstrategiaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sFCMPC_services_insertTablaEstrategia_WSD_Binder" type="tns:insertTablaEstrategia_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="insertTablaEstrategia">
      <soap:operation soapAction="sFCMPC_services_insertTablaEstrategia_WSD_Binder_insertTablaEstrategia" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sFCMPC.services.insertTablaEstrategia_WSD">
    <wsdl:port name="sFCMPC_services_insertTablaEstrategia_WSD_Port" binding="tns:sFCMPC_services_insertTablaEstrategia_WSD_Binder">
      <soap:address location="http://localhost.localdomain:5555/ws/sFCMPC.services.insertTablaEstrategia_WSD/sFCMPC_services_insertTablaEstrategia_WSD_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
