Interfases/src/caf/war/Interfases/wsclient/sfcmpc/services/leetablacol/leeTablaCol.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<wsdl:definitions name="sFCMPC_services" targetNamespace="http://192.168.75.129/"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:tns="http://192.168.75.129/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
			xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:wsdns1="http://localhost/sFCMPC/services/leeTablaCol">
	<wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/sFCMPC/services/leeTablaCol" xmlns:tns="http://localhost/sFCMPC/services/leeTablaCol" xmlns:SOAP_ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
          <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
          <xsd:complexType name="__leeTablaColInput">
            <xsd:sequence>
              <xsd:element name="tablaNombre" nillable="true" type="xsd:string"/>
              <xsd:element name="campo" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="__leeTablaColOutput">
            <xsd:sequence>
              <xsd:element name="rtabla" nillable="true" type="tns:__rtabla"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="__rtabla">
            <xsd:sequence>
              <xsd:element name="solucion" nillable="true" type="tns:ArrayOf__solucion"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="__solucion">
            <xsd:sequence>
              <xsd:element name="campo" nillable="true" type="xsd:string"/>
              <xsd:element name="valor" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOf__solucion">
            <xsd:complexContent>
              <xsd:restriction base="SOAP_ENC:Array">
                <xsd:attribute ref="SOAP_ENC:arrayType" wsdl:arrayType="tns:__solucion[]"/>
              </xsd:restriction>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:schema>

	</wsdl:types>
	
	<wsdl:message name="leeTablaColInput">
		<wsdl:part name="tablaNombre" type="xsd:string"/>
		<wsdl:part name="campo" type="xsd:string"/>
	</wsdl:message>
	
	<wsdl:message name="leeTablaColOutput">
		<wsdl:part name="rtabla" type="wsdns1:__rtabla"/>
	</wsdl:message>
	<wsdl:portType name="sFCMPC_servicesPortType">
		<wsdl:operation name="leeTablaCol">
			<wsdl:input message="tns:leeTablaColInput"/>
			<wsdl:output message="tns:leeTablaColOutput"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="sFCMPC_servicesBinding" type="tns:sFCMPC_servicesPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="leeTablaCol">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://192.168.75.129/sFCMPC.services" use="encoded"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://192.168.75.129/sFCMPC.services" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="sFCMPC_servicesService">
		<wsdl:port name="sFCMPC_servicesPort0" binding="tns:sFCMPC_servicesBinding">
			<soap:address location="http://192.168.75.129:5555/soap/rpc"/>
		</wsdl:port>
	</wsdl:service>
	</wsdl:definitions>