fcmpcPortales/src/caf/war/fcmpcPortales/wsclient/sfcmpc/services/completatarea_wsd/completaTarea_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="completaTarea_WSD" targetNamespace="http://192.168.255.138/sFCMPC.services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://192.168.255.138/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.255.138/sFCMPC.services" xmlns:tns="http://192.168.255.138/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="completaTarea" type="tns:completaTarea"/>
          <xsd:element name="completaTareaResponse" type="tns:completaTareaResponse"/>
          <xsd:complexType name="completaTarea">
            <xsd:sequence>
              <xsd:element name="entrada" nillable="true" type="tns:entrada"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="entrada">
            <xsd:sequence>
              <xsd:element name="taskid" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="completaTareaResponse">
            <xsd:sequence>
              <xsd:element name="salida" nillable="true" type="tns:salida"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="salida">
            <xsd:sequence>
              <xsd:element name="msg" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="completaTarea_WSD_PortType_completaTareaResponse">
    <wsdl:part name="parameters" element="tns:completaTareaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="completaTarea_WSD_PortType_completaTarea">
    <wsdl:part name="parameters" element="tns:completaTarea">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="completaTarea_WSD_PortType">
    <wsdl:operation name="completaTarea">
      <wsdl:input message="tns:completaTarea_WSD_PortType_completaTarea">
    </wsdl:input>
      <wsdl:output message="tns:completaTarea_WSD_PortType_completaTareaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sFCMPC_services_completaTarea_WSD_Binder" type="tns:completaTarea_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="completaTarea">
      <soap:operation soapAction="sFCMPC_services_completaTarea_WSD_Binder_completaTarea" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sFCMPC.services.completaTarea_WSD">
    <wsdl:port name="sFCMPC_services_completaTarea_WSD_Port" binding="tns:sFCMPC_services_completaTarea_WSD_Binder">
      <soap:address location="http://192.168.255.138:5555/ws/sFCMPC.services.completaTarea_WSD/sFCMPC_services_completaTarea_WSD_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
