Interfases/src/caf/war/Interfases/wsclient/sfcmpc/services/tablaciclos_wsd/tablaCiclos_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="tablaCiclos_WSD" targetNamespace="http://localhost.localdomain/sFCMPC.services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost.localdomain/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost.localdomain/sFCMPC.services" xmlns:tns="http://localhost.localdomain/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="tablaCiclos" type="tns:tablaCiclos"/>
          <xsd:element name="tablaCiclosResponse" type="tns:tablaCiclosResponse"/>
          <xsd:complexType name="tablaCiclos">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="ciclo" nillable="true" type="tns:ciclo"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ciclo">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="periodo" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="sesiones" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="cantidadHoras" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="tablaCiclosResponse">
            <xsd:sequence>
              <xsd:element name="resulta" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="tablaCiclos_WSD_PortType_tablaCiclos">
    <wsdl:part name="parameters" element="tns:tablaCiclos">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="tablaCiclos_WSD_PortType_tablaCiclosResponse">
    <wsdl:part name="parameters" element="tns:tablaCiclosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="tablaCiclos_WSD_PortType">
    <wsdl:operation name="tablaCiclos">
      <wsdl:input message="tns:tablaCiclos_WSD_PortType_tablaCiclos">
    </wsdl:input>
      <wsdl:output message="tns:tablaCiclos_WSD_PortType_tablaCiclosResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sFCMPC_services_tablaCiclos_WSD_Binder" type="tns:tablaCiclos_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="tablaCiclos">
      <soap:operation soapAction="sFCMPC_services_tablaCiclos_WSD_Binder_tablaCiclos" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sFCMPC.services.tablaCiclos_WSD">
    <wsdl:port name="sFCMPC_services_tablaCiclos_WSD_Port" binding="tns:sFCMPC_services_tablaCiclos_WSD_Binder">
      <soap:address location="http://localhost.localdomain:5555/ws/sFCMPC.services.tablaCiclos_WSD/sFCMPC_services_tablaCiclos_WSD_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
