Interfases/src/caf/war/Interfases/wsclient/sfcmpc/services/generamlogico_wsd/generaMLogico_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="generaMLogico_WSD" targetNamespace="http://localhost.localdomain/sFCMPC.services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost.localdomain/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost.localdomain/sFCMPC.services" xmlns:tns="http://localhost.localdomain/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="generaMLogico" type="tns:generaMLogico"/>
          <xsd:element name="generaMLogicoResponse" type="tns:generaMLogicoResponse"/>
          <xsd:complexType name="generaMLogico">
            <xsd:sequence>
              <xsd:element name="marcoLogico" nillable="true" type="tns:marcoLogico"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="marcoLogico">
            <xsd:sequence>
              <xsd:element name="nombrePro" nillable="true" type="xsd:string"/>
              <xsd:element name="ObjetivoGeneral" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" name="objetivo" nillable="true" type="tns:objetivo"/>
              <xsd:element maxOccurs="unbounded" name="objetivosEspecificos" nillable="true" type="tns:objetivosEspecificos"/>
              <xsd:element minOccurs="0" name="aprobadoML" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="observacionesML" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="objetivo">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="okpi" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="omv" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="oriesgo" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="objetivosEspecificos">
            <xsd:sequence>
              <xsd:element name="nombreObjetivo" nillable="true" type="xsd:string"/>
              <xsd:element name="descripcionObjetivo" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="especificos" nillable="true" type="tns:especificos"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="estrategia" nillable="true" type="tns:estrategia"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="especificos">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="kpi" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="mv" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="riesgo" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="estrategia">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="nombreEstrategia" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="tipoActividad" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="tipoParticipante" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="contenidos" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="categoria" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="area" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="cantidadHoras" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="periodo" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="cicloActividad" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="generaMLogicoResponse">
            <xsd:sequence>
              <xsd:element name="salida" nillable="true" type="tns:salida"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="salida">
            <xsd:sequence>
              <xsd:element name="msg" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="generaMLogico_WSD_PortType_generaMLogico">
    <wsdl:part name="parameters" element="tns:generaMLogico">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generaMLogico_WSD_PortType_generaMLogicoResponse">
    <wsdl:part name="parameters" element="tns:generaMLogicoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="generaMLogico_WSD_PortType">
    <wsdl:operation name="generaMLogico">
      <wsdl:input message="tns:generaMLogico_WSD_PortType_generaMLogico">
    </wsdl:input>
      <wsdl:output message="tns:generaMLogico_WSD_PortType_generaMLogicoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sFCMPC_services_generaMLogico_WSD_Binder" type="tns:generaMLogico_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="generaMLogico">
      <soap:operation soapAction="sFCMPC_services_generaMLogico_WSD_Binder_generaMLogico" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sFCMPC.services.generaMLogico_WSD">
    <wsdl:port name="sFCMPC_services_generaMLogico_WSD_Port" binding="tns:sFCMPC_services_generaMLogico_WSD_Binder">
      <soap:address location="http://localhost.localdomain:5555/ws/sFCMPC.services.generaMLogico_WSD/sFCMPC_services_generaMLogico_WSD_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
