Interfases/src/caf/war/Interfases/wsclient/sfcmpc/services/objetivos_wsd/objetivos_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="objetivos_WSD" targetNamespace="http://localhost.localdomain/sFCMPC.services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost.localdomain/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost.localdomain/sFCMPC.services" xmlns:tns="http://localhost.localdomain/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="objetivos" type="tns:objetivos"/>
          <xsd:element name="objetivosResponse" type="tns:objetivosResponse"/>
          <xsd:complexType name="objetivos">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="objetivos" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="objetivosResponse">
            <xsd:sequence>
              <xsd:element name="resultado" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="objetivos_WSD_PortType_objetivosResponse">
    <wsdl:part name="parameters" element="tns:objetivosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="objetivos_WSD_PortType_objetivos">
    <wsdl:part name="parameters" element="tns:objetivos">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="objetivos_WSD_PortType">
    <wsdl:operation name="objetivos">
      <wsdl:input message="tns:objetivos_WSD_PortType_objetivos">
    </wsdl:input>
      <wsdl:output message="tns:objetivos_WSD_PortType_objetivosResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sFCMPC_services_objetivos_WSD_Binder" type="tns:objetivos_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="objetivos">
      <soap:operation soapAction="sFCMPC_services_objetivos_WSD_Binder_objetivos" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sFCMPC.services.objetivos_WSD">
    <wsdl:port name="sFCMPC_services_objetivos_WSD_Port" binding="tns:sFCMPC_services_objetivos_WSD_Binder">
      <soap:address location="http://localhost.localdomain:5555/ws/sFCMPC.services.objetivos_WSD/sFCMPC_services_objetivos_WSD_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
