Interfases/src/caf/war/Interfases/wsclient/sfcmpc/services/inserttablaindicadores_wsd/insertTablaIndicadores_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="insertTablaIndicadores_WSD" targetNamespace="http://localhost.localdomain/sFCMPC.services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost.localdomain/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost.localdomain/sFCMPC.services" xmlns:tns="http://localhost.localdomain/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="insertTablaIndicadores" type="tns:insertTablaIndicadores"/>
          <xsd:element name="insertTablaIndicadoresResponse" type="tns:insertTablaIndicadoresResponse"/>
          <xsd:complexType name="insertTablaIndicadores">
            <xsd:sequence>
              <xsd:element name="entrada" nillable="true" type="tns:entrada"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="entrada">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="especificos" nillable="true" type="tns:especificos"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="especificos">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="valor" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="kindicador" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="mv" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="rsupuestos" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="lineaBase" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ano1" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ano2" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="insertTablaIndicadoresResponse">
            <xsd:sequence>
              <xsd:element name="salida" nillable="true" type="tns:salida"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="salida">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="especificos" nillable="true" type="tns:especificos2"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="especificos2">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="valor" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="kindicador" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="mv" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="rsupuestos" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="lineaBase" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ano1" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ano2" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="insertTablaIndicadores_WSD_PortType_insertTablaIndicadores">
    <wsdl:part name="parameters" element="tns:insertTablaIndicadores">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertTablaIndicadores_WSD_PortType_insertTablaIndicadoresResponse">
    <wsdl:part name="parameters" element="tns:insertTablaIndicadoresResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="insertTablaIndicadores_WSD_PortType">
    <wsdl:operation name="insertTablaIndicadores">
      <wsdl:input message="tns:insertTablaIndicadores_WSD_PortType_insertTablaIndicadores">
    </wsdl:input>
      <wsdl:output message="tns:insertTablaIndicadores_WSD_PortType_insertTablaIndicadoresResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sFCMPC_services_insertTablaIndicadores_WSD_Binder" type="tns:insertTablaIndicadores_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="insertTablaIndicadores">
      <soap:operation soapAction="sFCMPC_services_insertTablaIndicadores_WSD_Binder_insertTablaIndicadores" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sFCMPC.services.insertTablaIndicadores_WSD">
    <wsdl:port name="sFCMPC_services_insertTablaIndicadores_WSD_Port" binding="tns:sFCMPC_services_insertTablaIndicadores_WSD_Binder">
      <soap:address location="http://localhost.localdomain:5555/ws/sFCMPC.services.insertTablaIndicadores_WSD/sFCMPC_services_insertTablaIndicadores_WSD_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
