fcmpcProyecto/src/caf/war/fcmpcProyecto/wsclient/sfcmpc/services/generadorproyecto_wsd/generadorProyecto_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="generadorProyecto_WSD" targetNamespace="http://localhost.localdomain/sFCMPC.services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost.localdomain/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost.localdomain/sFCMPC.services" xmlns:tns="http://localhost.localdomain/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="generadorProyecto" type="tns:generadorProyecto"/>
          <xsd:element name="generadorProyectoResponse" type="tns:generadorProyectoResponse"/>
          <xsd:complexType name="generadorProyecto">
            <xsd:sequence>
              <xsd:element name="proyecto" nillable="true" type="tns:proyecto"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="proyecto">
            <xsd:sequence>
              <xsd:element name="nombrePro" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="periodo" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="fechaDesde" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="fechaHasta" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="encargado" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="planta" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="comuna" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ObjetivoGeneral" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="establecimientos" nillable="true" type="tns:establecimientos"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="establecimientos">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="establecimiento" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="profesionales" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="generadorProyectoResponse">
            <xsd:sequence>
              <xsd:element name="resultado" nillable="true" type="tns:resultado"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="resultado">
            <xsd:sequence>
              <xsd:element name="msg" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="generadorProyecto_WSD_PortType_generadorProyecto">
    <wsdl:part name="parameters" element="tns:generadorProyecto">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generadorProyecto_WSD_PortType_generadorProyectoResponse">
    <wsdl:part name="parameters" element="tns:generadorProyectoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="generadorProyecto_WSD_PortType">
    <wsdl:operation name="generadorProyecto">
      <wsdl:input message="tns:generadorProyecto_WSD_PortType_generadorProyecto">
    </wsdl:input>
      <wsdl:output message="tns:generadorProyecto_WSD_PortType_generadorProyectoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sFCMPC_services_generadorProyecto_WSD_Binder" type="tns:generadorProyecto_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="generadorProyecto">
      <soap:operation soapAction="sFCMPC_services_generadorProyecto_WSD_Binder_generadorProyecto" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sFCMPC.services.generadorProyecto_WSD">
    <wsdl:port name="sFCMPC_services_generadorProyecto_WSD_Port" binding="tns:sFCMPC_services_generadorProyecto_WSD_Binder">
      <soap:address location="http://localhost.localdomain:5555/ws/sFCMPC.services.generadorProyecto_WSD/sFCMPC_services_generadorProyecto_WSD_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
