Interfases/src/caf/war/Interfases/wsclient/sfcmpc/services/generamarco_wsd/generaMarco_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="generaMarco_WSD" targetNamespace="http://192.168.255.138/sFCMPC.services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://192.168.255.138/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.255.138/sFCMPC.services" xmlns:tns="http://192.168.255.138/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="generaMarco" type="tns:generaMarco"/>
          <xsd:element name="generaMarcoResponse" type="tns:generaMarcoResponse"/>
          <xsd:complexType name="generaMarco">
            <xsd:sequence>
              <xsd:element name="proyecto" nillable="true" type="tns:proyecto"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="proyecto">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="nombrePro" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="fechaIniProy" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="fechaFinProy" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="tipoProyecto" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ObjetivoGeneral" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="objetivosEspecificos" nillable="true" type="tns:objetivosEspecificos"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="componentes" nillable="true" type="tns:componentes"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="objetivosEspecificos">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="nombreObjetivo" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="descripcionObjetivo" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" name="kpis" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" name="supuestos" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="actividadess" nillable="true" type="tns:actividadess"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="actividadess">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="tipoActividad" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="tipoParticipante" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="contenidos" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="categoria" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="area" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="cantidadHoras" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="periodo" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="cicloActividad" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="componentes">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="escuela" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="asesor" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="nivel" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="docDireSost" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="generaMarcoResponse">
            <xsd:sequence>
              <xsd:element name="resultado" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="generaMarco_WSD_PortType_generaMarcoResponse">
    <wsdl:part name="parameters" element="tns:generaMarcoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generaMarco_WSD_PortType_generaMarco">
    <wsdl:part name="parameters" element="tns:generaMarco">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="generaMarco_WSD_PortType">
    <wsdl:operation name="generaMarco">
      <wsdl:input message="tns:generaMarco_WSD_PortType_generaMarco">
    </wsdl:input>
      <wsdl:output message="tns:generaMarco_WSD_PortType_generaMarcoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sFCMPC_services_generaMarco_WSD_Binder" type="tns:generaMarco_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="generaMarco">
      <soap:operation soapAction="sFCMPC_services_generaMarco_WSD_Binder_generaMarco" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sFCMPC.services.generaMarco_WSD">
    <wsdl:port name="sFCMPC_services_generaMarco_WSD_Port" binding="tns:sFCMPC_services_generaMarco_WSD_Binder">
      <soap:address location="http://192.168.255.138:5555/ws/sFCMPC.services.generaMarco_WSD/sFCMPC_services_generaMarco_WSD_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
